
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
@import '_navigation.scss';
@import '_title.scss';
@import '_episodes.scss';
@import '_us.scss';
@import '_guests.scss';
@import '_temary.scss';
@import '_news.scss';
@import '_footer.scss';







 
    
    




    
 


  
    
    

   

    
     







